@charset "UTF-8";
/* 色管理 */
/* line 4, ../scss/main.scss */
.base { background: #eee; color: #333; }

/* line 9, ../scss/main.scss */
.container { background: #fff; padding: 0; }

/* line 14, ../scss/main.scss */
.head { border-bottom: 1px solid #aaa; padding: 3rem 3rem 5rem 3rem; }

/* line 19, ../scss/main.scss */
.mv { /* メインビジュアル画像 */ background: url("/resources/img/"); }

/* line 24, ../scss/main.scss */
.companyname { font-size: 6.25rem; }

/* line 28, ../scss/main.scss */
.navcontainer { background: #fff; font-size: 1.25rem; }
/* line 32, ../scss/main.scss */
.navcontainer a { color: #bdbf92; }
/* line 35, ../scss/main.scss */
.navcontainer a:hover { background: #bdbf92; color: #fff; }

/* line 45, ../scss/main.scss */
.mainnav > li > a { border-right: 1px solid #aaa; padding-bottom: 0; padding-top: 0; }
/* line 52, ../scss/main.scss */
.mainnav > li:first-child > a { border-left: 1px solid #aaa; }

/* line 59, ../scss/main.scss */
.subnav { font-size: 1.125rem; margin-top: 0.6rem; }
/* line 63, ../scss/main.scss */
.subnav > li { border-bottom: 1px dotted #aaa; }
/* line 66, ../scss/main.scss */
.subnav > li:last-child { border: none; }
/* line 70, ../scss/main.scss */
.subnav > li > a { color: #aaa; padding-bottom: 0; padding-top: 0; }

/* line 78, ../scss/main.scss */
.secondhead { border-bottom: 1px solid #aaa; color: #bdbf92; font-size: 4.675rem; margin: 5rem 15rem 1rem 15rem; padding-bottom: 1rem; }

/* line 86, ../scss/main.scss */
.abouthead { font-size: 3.75rem; margin-bottom: 7.5rem; }
/* line 90, ../scss/main.scss */
.abouthead > span { font-size: 1.5rem; margin-right: 1.5rem; }

/* line 96, ../scss/main.scss */
.thirdhead { font-size: 3.75rem; margin-bottom: 1.5rem; }
/* line 100, ../scss/main.scss */
.thirdhead > span { display: block; font-size: 2rem; }

/* line 106, ../scss/main.scss */
.maintext { font-size: 1.25rem; line-height: 2.5rem; margin-bottom: 3rem; }
/* line 111, ../scss/main.scss */
.maintext.eng { color: #bdbf92; }

/* line 116, ../scss/main.scss */
.intronav { font-size: 4.675rem; margin-bottom: 1.5rem; padding: 0 4rem; }
/* line 122, ../scss/main.scss */
.intronav > span:last-child { border-bottom: 1px solid #aaa; border-top: 1px solid #aaa; color: #aaa; font-size: 1rem; margin-left: 1.5rem; padding: 0.5rem 2rem; }

/* line 133, ../scss/main.scss */
.photonav { border-bottom: 1rem solid #bdbf92; border-top: 1rem solid #bdbf92; margin: 0 0 2rem; }
/* line 138, ../scss/main.scss */
.photonav > li { height: 15rem; padding: 0; }
/* line 142, ../scss/main.scss */
.photonav > li > a { background: rgba(100, 100, 100, 0.75); color: #fff; font-size: 1.75rem; height: 100%; width: 100%; }

/* introductionのナビゲーション背景 */
/* line 154, ../scss/main.scss */
.introduction .photonav { /* company */ /* business */ /* member */ /* recruit */ }
/* line 158, ../scss/main.scss */
.introduction .photonav:nth-of-type(1) > li { /* vision */ /* profile */ /* view */ }
/* line 161, ../scss/main.scss */
.introduction .photonav:nth-of-type(1) > li:nth-of-type(1) { background: url("/resources/img/"); }
/* line 166, ../scss/main.scss */
.introduction .photonav:nth-of-type(1) > li:nth-of-type(2) { background: url("/resources/img/"); }
/* line 171, ../scss/main.scss */
.introduction .photonav:nth-of-type(1) > li:nth-of-type(3) { background: url("/resources/img/"); }
/* line 179, ../scss/main.scss */
.introduction .photonav:nth-of-type(2) > li { /* system development */ /* engineering service */ }
/* line 182, ../scss/main.scss */
.introduction .photonav:nth-of-type(2) > li:nth-of-type(1) { background: url("/resources/img/"); }
/* line 187, ../scss/main.scss */
.introduction .photonav:nth-of-type(2) > li:nth-of-type(2) { background: url("/resources/img/"); }
/* line 195, ../scss/main.scss */
.introduction .photonav:nth-of-type(3) > li { /* introduction */ /* event */ }
/* line 198, ../scss/main.scss */
.introduction .photonav:nth-of-type(3) > li:nth-of-type(1) { background: url("/resources/img/"); }
/* line 203, ../scss/main.scss */
.introduction .photonav:nth-of-type(3) > li:nth-of-type(2) { background: url("/resources/img/"); }
/* line 211, ../scss/main.scss */
.introduction .photonav:nth-of-type(4) > li { /* recruitment */ /* personality */ /* entry */ }
/* line 214, ../scss/main.scss */
.introduction .photonav:nth-of-type(4) > li:nth-of-type(1) { background: url("/resources/img/"); }
/* line 219, ../scss/main.scss */
.introduction .photonav:nth-of-type(4) > li:nth-of-type(2) { background: url("/resources/img/"); }
/* line 224, ../scss/main.scss */
.introduction .photonav:nth-of-type(4) > li:nth-of-type(3) { background: url("/resources/img/"); }

/*# sourceMappingURL=main.css.map */
