@charset "UTF-8";
/* 色管理 */
@media screen and (max-width: 576px) { /* line 5, ../scss/sp.scss */
  .container { overflow: hidden; }
  /* line 9, ../scss/sp.scss */
  .head { background-size: contain; padding: 2rem; }
  /* line 13, ../scss/sp.scss */
  .head .companyname { margin: 0 0 1.5rem; padding: 17rem 0 0; }
  /* line 17, ../scss/sp.scss */
  .head .companyname .companynameimg { width: 50%; }
  /* line 22, ../scss/sp.scss */
  .head .navcontainer { display: none; }
  /* line 26, ../scss/sp.scss */
  .head .sns { margin: 0; }
  /* line 29, ../scss/sp.scss */
  .head .sns .snslink { margin-left: 1rem; }
  /* line 32, ../scss/sp.scss */
  .head .sns .snslink .snsimg { width: 3rem; }
  /* line 39, ../scss/sp.scss */
  .background { padding: 5rem 0 0; }
  /* line 42, ../scss/sp.scss */
  .background .contents { margin: 0 0 6rem; }
  /* line 47, ../scss/sp.scss */
  .secondhead { margin: 0 7.5rem 1.2rem; }
  /* line 51, ../scss/sp.scss */
  .thirdhead { height: 4rem; margin: 0 0 2.2rem; }
  /* line 55, ../scss/sp.scss */
  .thirdhead.threeline { height: 6.1rem; }
  /* line 60, ../scss/sp.scss */
  .fourthhead { height: 1.4rem; margin: 0 0 3rem; }
  /* line 64, ../scss/sp.scss */
  .fourthhead .fourthheadimg { height: 1.4rem; vertical-align: top; }
  /* line 70, ../scss/sp.scss */
  .basiclist { font-size: 1.4rem; line-height: 1.4rem; }
  /* line 74, ../scss/sp.scss */
  .basiclist .basiclistitem { margin: 0 0 1.4rem; }
  /* line 79, ../scss/sp.scss */
  .pointlist { font-size: 1.4rem; line-height: 2.8rem; }
  /* line 83, ../scss/sp.scss */
  .pointlist .pointlistitem { text-indent: -1.4rem; padding-left: 0 0 0 1rem; }
  /* line 89, ../scss/sp.scss */
  .maintext { font-size: 1.4rem; margin: 0 2rem 2rem; }
  /* line 94, ../scss/sp.scss */
  .nobreak { display: none; }
  /* line 98, ../scss/sp.scss */
  .spnone { display: none; }
  /* line 102, ../scss/sp.scss */
  .photonavhead { height: 3rem; margin: 0 1.8rem 1.5rem; }
  /* line 107, ../scss/sp.scss */
  .photonav { margin: 0 0 3.5rem; }
  /* line 111, ../scss/sp.scss */
  .googlemap { height: 2rem; }
  /* line 115, ../scss/sp.scss */
  .vision { margin: 0 0 5rem; }
  /* line 119, ../scss/sp.scss */
  .profile { margin: 0 0 5rem; }
  /* line 122, ../scss/sp.scss */
  .profile .profilelist { font-size: 1.4rem; line-height: 2.8rem; margin: 0 2rem; }
  /* line 129, ../scss/sp.scss */
  .access { margin: 0 0 5rem; }
  /* line 132, ../scss/sp.scss */
  .access .map { margin: 0 2rem 1rem; }
  /* line 136, ../scss/sp.scss */
  .access .googlemap { margin: 0 2rem; }
  /* line 141, ../scss/sp.scss */
  .office { margin: 0 0 5rem; }
  /* line 145, ../scss/sp.scss */
  .systemdev { margin: 0 0 5rem; }
  /* line 151, ../scss/sp.scss */
  .engineer .servicelist { font-size: 1.5rem; line-height: 3rem; margin: 0 5rem 0 2rem; }
  /* line 156, ../scss/sp.scss */
  .engineer .servicelist .servicelistitem { margin: 0 0 3rem; padding: 0 0 0 3rem; }
  /* line 160, ../scss/sp.scss */
  .engineer .servicelist .servicelistitem span { margin: 1rem 0 0; }
  /* line 167, ../scss/sp.scss */
  .member { display: none; }
  /* line 171, ../scss/sp.scss */
  .intro { display: none; }
  /* line 175, ../scss/sp.scss */
  .events { display: none; }
  /* line 179, ../scss/sp.scss */
  .policy { margin: 0 0 5rem; }
  /* line 183, ../scss/sp.scss */
  .recruitment { margin: 0 0 5rem; }
  /* line 186, ../scss/sp.scss */
  .recruitment .recruitdetail { font-size: 1.4rem; margin: 0 2rem; padding: 0 2rem; }
  /* line 191, ../scss/sp.scss */
  .recruitment .recruitdetail .notes { font-size: 1.4rem; line-height: 1.4rem; }
  /* line 196, ../scss/sp.scss */
  .recruitment .recruitdetail .contactbtn { height: 2rem; }
  /* line 203, ../scss/sp.scss */
  .contact .contacttext { font-size: 2rem; }
  /* line 207, ../scss/sp.scss */
  .contact .address { padding: 2rem; }
  /* line 210, ../scss/sp.scss */
  .contact .address .contactformbtn { font-size: 1.5rem; line-height: 1.5rem; margin: 0 0 1.5rem; padding: 0.5rem 1rem 1rem; }
  /* line 216, ../scss/sp.scss */
  .contact .address .contactformbtn .contactformicn { font-size: 3.5rem; margin-right: 0.5rem; }
  /* line 222, ../scss/sp.scss */
  .contact .address .tel { font-size: 3rem; }
  /* line 226, ../scss/sp.scss */
  .contact .address .tel .tellink:before { display: block; margin: 0 auto; }
  /* line 234, ../scss/sp.scss */
  .contact .address .mail .mailtext { margin: 0 0 1rem; }
  /* line 238, ../scss/sp.scss */
  .contact .address .mail .maillink { font-size: 3rem; }
  /* line 241, ../scss/sp.scss */
  .contact .address .mail .maillink:before { margin: 0; }
  /* line 249, ../scss/sp.scss */
  .topbutton { bottom: 10rem; margin-left: calc(100% - 7.9rem); }
  /* line 253, ../scss/sp.scss */
  .topbutton .topbuttonlink { height: 6rem; margin: 4rem 0 1rem; } }

/*# sourceMappingURL=sp.css.map */
